/* Header photo styling */

header {
  height: 90vh;
  background: url('../assets/beachBoys.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Header call to action syling */

#call-to-action {
  color:white;
  margin-left:65px;
  margin-right:65px;
}

#call-to-action-text {
  font-size:60px;
}

#signup {
  margin-bottom:25px;
}

.btn--styling {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--blue {
    background-color: #0066ff;
}


@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}


section {
  padding: 125px 0px 125px 0px;
}

/* Styling for space between form input fields */

#fullname {
  margin-bottom:15px;
}

#emailaddress {
  margin-bottom:15px;
}

/* Styling for footer spacing between social links and copyright text */

#footer {
  margin-top:25px;
}

/* Styling for social links within footer */

.fa {
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
