/* Styling applicable to each section */

section {
  padding: 125px 0px 125px 0px;
}

h2 {
  margin-bottom: 20px;
}

/* Header background photo styling */

header {
  height: 90vh;
  background: url('../assets/images/beachBoys.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Header call-to-action styling */

.call-to-action {
  color: #e6e6e6;
  margin-left: 75px;
  margin-right: 40px;
  margin-top: 50px;
}

#signup {
  margin-bottom: 25px;
}

.btn--styling {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.block-divider {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100px;
  height: 5px;
  border: 0;
  background-color: #444;
}

.block-divider--blue {
  background-color: #0066ff;
}

/* Styling for space between form input fields, used CSS ID to ensure Bootstrap CSS was over-written */

#fullname {
  margin-bottom: 15px;
}

#emailaddress {
  margin-bottom: 15px;
}

/* Styling for footer spacing between social links and copyright text */

#footer {
  margin-top: 25px;
}

/* Styling for social links within footer */

.fa {
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}




